name: ollama-monitor
machine: {{MACHINE_PATH}}
tools:
  - {{TOOLS_PATH}}
tool_declarations:
{{LLM_DECLARATIONS}}
  - {{LLM_OVERRIDE_PATH}}
  - {{OLLAMA_DECLARATIONS_PATH}}
  - {{MONITOR_DECLARATIONS_PATH}}
rest_definitions:
  - {{OLLAMA_REST_PATH}}
  - {{MONITOR_REST_PATH}}
libraries:
  providers: {{PROVIDERS_PATH}}
